* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-box {
    width: 400px;
    background: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}

#quote {
    margin: 20px 0;
    font-size: 30px;
}

#text {
    text-align: center;
}

#author {
    text-align: right;
    margin-top: 20px;
}

.buttons {
    display: flex;
    padding-top: 20px;
    position: absolute;
    bottom: 20px;
}

.buttons ul li {
    display: inline-block;
    padding-right: 10px;
}

.buttons ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 3px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
}

.new-quote-button {
    right: 20px;
    height: 40px;
}

#new-quote {
    margin: 0 0 0 auto;
    border-radius: 3px;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    color: white;
}

.react-auto-height {
    transition-delay: 0s;
    transition-duration: 0.70s;
}



